{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3" style="background-color: #FFFFFA; color: #080705;">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2 style="color: #080705;">Welcome</h2>
        <hr style="border-color: #702632FF;" />
        <p style="color: #080705;">
          Make sure to <strong>log in/ sign in</strong> to enjoy full access!<br />
          Navigate to the <strong>About</strong> page to read more about us.<br />
          Visit the <strong>Movies</strong> section to select, review, or add a movie to your cart.<br />
          Don't forget to check your <strong>Cart</strong> to buy your favorite movies! <br />
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


